<!DOCTYPE html>
<html  xmlns:th="//www.thymeleaf.org" 
	th:replace="~{layout/layout-common :: layout(~{::head}, ~{::main})}">
	<head>
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
		<script src="/js/common/index.js"></script>
		<script src="/js/common/goods.js"></script>
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/goods.css">
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<section>
	</section>
	<main>
		<h1>메인영역</h1>
		<div class="wrap">
			<p>인덱스페이지</p>
			<section id="goods" >
				<h1>상품정보</h1>
				<div class="wrap">
				</div>
			</section>
		</div>
	</main>
</html>