<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbou.domain.dao.BoardMapper">
	
	<insert id="save">
		insert into board(title, content, writer)
		values(#{title},#{content},#{writer}) <!-- java에 dto클래스명  -->
	</insert>
	
	<select id="list" resultType="com.bbou.domain.dto.BoardDTO">
		select * from board
		order by no desc
		limit #{limit} offset #{offset}
	</select>
	
	<select id="findByNo" resultType="com.bbou.domain.dto.BoardDTO">
	 	select * from board
	 	where no=#{no}
	</select>
	
	<update id="update">
		update board
		set title=#{title}, content=#{content}
		where no=#{no}
	</update>
	
	<delete id="delete">
		delete from board
		where no=#{no}
	</delete>
	
	<select id="countAll" resultType="int">
		select count(*) from board
	</select>
	<select id="findAllBySearch" resultType="com.bbou.domain.dto.BoardDTO">
		select * from board
		
		<!-- 
		예시
		<if test="columnName == 'subject' or columnName == 'all'">
				subject like '%${query}%' ${} 로 표기할경우 ''를 제외한 값이 나옴 , #{}일경우 ''포함해서 나옴
		</if> 
		-->
		<where>
			<if test="columnName !=0 and columnName == 1 or columnName == 3 or columnName == 5 or columnName == 7">
				title like '%${query}%' <!-- ${} 로 표기할경우 ''를 제외한 값이 나옴 , #{}일경우 ''포함해서 나옴-->
			</if>
			<if test="columnName !=0 and columnName == 2 or columnName == 3 or columnName == 6 or columnName == 7">
				or content  like '%${query}%'
			</if>
			<if test="columnName !=0 and columnName == 4 or columnName == 5 or columnName == 6 or columnName == 7">
				or writer like '%${query}%'
			</if>
		</where>
		order by no desc
	</select>
	
	<select id="countAllBySearch" resultType="int">
		select count(*) from board
		<where>
			<if test="columnName !=0 and columnName == 1 or columnName == 3 or columnName == 5 or columnName == 7">
				title like '%${query}%' <!-- ${} 로 표기할경우 ''를 제외한 값이 나옴 , #{}일경우 ''포함해서 나옴-->
			</if>
			<if test="columnName !=0 and columnName == 2 or columnName == 3 or columnName == 6 or columnName == 7">
				or content  like '%${query}%'
			</if>
			<if test="columnName !=0 and columnName == 4 or columnName == 5 or columnName == 6 or columnName == 7">
				or writer like '%${query}%'
			</if>
		</where>
		order by no desc
	</select>
	
</mapper>